@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "popping";
  color: #fff; 
}

body{
  background: url('background.JPG') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  height: 450px;
  width: 410px;
  border: 2px solid rgba(255,255,255,.4);
  /*background: #eee;*/
  border-radius: 15px;
  background: rgba(0,0,0,.2);
  backdrop-filter: blur(4px);
  box-shadow: 0 0 5px rgba(0,0,0,.2),
  0 0 15px rgba(0,0,0,.2),
  0 0 30px rgba(0,0,0,.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.Form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.login-form{
  position: absolute;
  transform: translateX(0px);
  transition: .5s ease;

}
.login-form.active{
  transform: translateX(-410px);
}


.input-box {
  margin: 45px 0;
  height: 40px;
  width: 300px;
  border-bottom: 2px solid rgba(242, 239, 239, 0.406);
  position: relative;
}

/* for input info id and password */
.input-box input{
  width: 90%;
  height: 150%;
  float: right;
  border: none;
  outline: none;
  font-size: 15px;
  color: rgba(208, 211, 205, 0.9);

  padding: 5px 0;
  background: transparent;
}
.input-box label{
  position: absolute;
  left: 0;
  transform: translateY(-56%);
  font-size: 15px;
  font-weight: 500;
  color: #eee;
}
.input-box i{
  position: absolute;
  left: 0px;
  transform: translateY(75%);
  font-size: 22px;
  color: rgba(0,0,0,.5);
}
input::placeholder{
  font-size: 13px;
}
input#checked{
  margin-right: 3px;
}

/* for styling button */
.btn{
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: linear-gradient(45deg ,#0a650c,60% ,#68950f);
  font-size: 19px;
  font-weight: 500;
  color: #eee;
  position: relative;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0%;
  height: 100%;
  width: 00%;
  background: linear-gradient(45deg ,#528020,60% ,#8ab249);
  transition: .5s ease;
  z-index: -1;
}
.btn:hover{
  color: #eceaea;
}
.btn:hover:before{
width: 100%;
}

p{
  color: rgba(243, 239, 239, 0.669);
  font-size: 13px;
  font-weight: 500;
  margin: 25px 0;
}

.error-message, .api-message {
  color: rgb(222, 60, 39);
  font-size: 12px;
  display: none;
}

/* For making application Responsive */

@media(max-width: 768px){
  .container{
      height: 500px;
      width: 380px;
  }
  h2{
      font-size: 26px;
  }
  .input-box{
      margin: 34px 0;
      height: 35px;
      width: 300px;
  }
  .input-box label{
      font-size: 13px;
  
  }
  .input-box input{
      font-size: 13px;
  }
  .input-box i{

      font-size: 18px;

  }
  input::placeholder{
      font-size: 13px;
  }
  /*.forgot-section span{
      font-size: 12px;
  }*/
  input#checked{
      margin-right: 2px;
      height: 15px;
  }
  .btn{
      height: 35px;
      font-size: 15px;
  }
  p{
      font-size: 11px;
  }
 

}
@media(max-width: 480px){
  .container{
      height: 450px;
      width: 310px;
  }
  h2{
      font-size: 22px;
  }
  .input-box{
      margin: 20px 0;
      height: 35px;
      width: 220px;
  }
  .input-box label{
      font-size: 12px;
  
  }
  .input-box input{
      font-size: 12px;
  }
  .input-box i{

      font-size: 16px;

  }
  input::placeholder{
      font-size: 10px;
  }
  
  input#checked{
      margin-right: 2px;
      height: 10px;
  }
  .btn{
      height: 25px;
      font-size: 12px;
  }
  p{
      font-size: 11px;
  }
 

}
@media(max-width:365px){
  .container{
      height: 420px;
      width: 280px;
  }
  h2{
      font-size: 18px;
  }
  .input-box{
      margin: 20px 0;
      height: 35px;
      width: 200px;
  }
  

}